<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/QA/static/css/style.css">
    <!--
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    -->
    <title>QA</title>
</head>

<body>
    <div class="box">
        <form method="GET" action="/">
            <input type="text" name="question" placeholder="faça sua pergunta">
            <button type="submit">enviar</button>
            <button id="btn-reset" type="reset">limpar</button>
        </form>
    </div>
    <div class="answer-content">
        {%if context%}
        <p>{{ context }}</p>
        {% endif %}
    </div>
    </div>
</body>

</html>